*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 226, 31);
    
}

 .container{
    width:1200px;
    display: flex;
    padding:10px;
    gap:55px;
    height:500px;
} 

.card{
    background-color:whitesmoke ;
    border:black 2px solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 20px 10px 10px 0 lightgrey;
    
}

img{
    border-radius: 20px 20px 0 0;
}